@import '../core/mixins.scss';

.form {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
     
    &__text {
        margin-right: 10px;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__input {
        width: 185px;
        height: 30px;
        border-radius: 25px;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        @include tablet {
            font-size: 1.5rem;
            width: 300px;
            height: 30px;
        }
    }
}